.runButton {
  height: 55px;
  line-height: 55px;
  width: 100%;
  border-bottom: thin solid black;
  display: table;
  div {
    display: table-cell;
    vertical-align: middle;
  }
  .status_text {
    text-align: left;
    p {
      margin-left: 15px;
      font-weight: bold;
      font-size: 20px;
    }
  }
  .status_icon {
    text-align: right;
    p {
      font-size: 20px;
      color: green;
      margin-right: 25px;
    }
  }
}
